USE [ClaimPayBack]
GO
/****** Object:  StoredProcedure [dbo].[usp_BillingRequest_Sub01_Insert]    Script Date: 19/9/2568 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Updated date: 2023-02-08 Add input data and improve script(i.BillingDate <= @BillingDateTo) by Napaporn Saarnwong
--				 2023-03-18 Add	insert ClaimHeaderGroupTypeId in BillingRequestGroup by Sahatsawat golffy 06958
--				 2023-07-03 Add	insert InsuranceCompanyName in BillingRequestGroup by Sahatsawat golffy 06958
--				 2023-08-14 Add	insert BillingExport in BillingRequestGroup by Kittisak.Ph
--				 2023-08-16 Edit setting for @BillindDueDate by Napaporn
--				 2023-09-07 Add Insert BillingBankId BankAccountNumber to table BillingExport
--				 2023-10-19 Edit format fileName ex. BQH(PH/PA)(Insurance)(Branch/Hospital)
--				 2024-05-27 Krekpon. Mind เพิ่มเงื่อนไขการ group ข้อมูล 
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[usp_BillingRequest_Sub01_Insert]
		@GroupTypeId				INT
		,@ClaimTypeCode				VARCHAR(20)
		,@InsuranceCompanyId		INT
		,@CreatedByUserId			INT
		,@BillingDate				DATE
		,@ClaimHeaderGroupTypeId	INT
		,@InsuranceCompanyName		NVARCHAR(300)
AS
BEGIN
	SET NOCOUNT ON;


--@GroupTypeId
--1 SSS + โอนแยก + PA30
--2 SSSPA
DECLARE @pGroupTypeId			INT				= @GroupTypeId;
DECLARE @pInsuranceCompanyId	INT				= @InsuranceCompanyId;
DECLARE @UserId					INT				= @CreatedByUserId;

DECLARE @D2						DATETIME2		= SYSDATETIME();

DECLARE @Date					DATE = @D2;

DECLARE @IsResult				BIT				= 1;
DECLARE @Result					VARCHAR(100)	= '';
DECLARE @Msg					NVARCHAR(500)	= '';

DECLARE	@BillindDueDate			DATE;
DECLARE @DaysToAdd				INT				= 15;

SET @BillindDueDate = DATEADD(	DAY
								,@DaysToAdd + ((@DaysToAdd - 1) / 5) * 2 
								+ CASE 
									WHEN DATEPART(WEEKDAY, @BillingDate) + (@DaysToAdd - 1) % 5 >= 7 THEN 1
									WHEN DATEPART(WEEKDAY, @BillingDate) = 6 AND (@DaysToAdd - 1) % 5 = 0 THEN 1
									ELSE 0 
									END
								,@BillingDate);

IF (@IsResult = 0) SET @Msg = N'ปิดใช้งาน';

SELECT	i.ClaimHeaderGroupImportId
       ,i.ClaimHeaderGroupCode
       --,i.ClaimGroupImportFileId
       --,i.ItemCount
       --,i.TotalAmount
       --,i.BillingDate
       ,i.ClaimHeaderGroupImportStatusId
       ,i.InsuranceCompanyId
       ,i.BillingRequestGroupId
	   ,f.ClaimHeaderGroupTypeId
INTO	#Tmplst
FROM	dbo.ClaimHeaderGroupImport AS i
		INNER JOIN dbo.ClaimHeaderGroupImportFile AS f
			ON i.ClaimGroupImportFileId = f.ClaimHeaderGroupImportFileId
WHERE	f.IsActive = 1
AND		i.InsuranceCompanyId = @pInsuranceCompanyId
AND		(
			(@pGroupTypeId = 1 AND f.ClaimHeaderGroupTypeId IN (2,4,5))
			OR	(@pGroupTypeId = 2 AND f.ClaimHeaderGroupTypeId IN (3))
		)
AND		f.ClaimHeaderGroupTypeId = @ClaimHeaderGroupTypeId -- เพิ่มเงื่อนไขการ group ข้อมูล Krekpon. Mind 2024-05-27
AND		i.IsActive = 1
AND		i.ClaimHeaderGroupImportStatusId = 2
AND		i.BillingRequestGroupId IS NULL
AND		i.ClaimTypeCode = @ClaimTypeCode
AND		i.BillingDate = @BillingDate;


SELECT	d.ClaimHeaderGroupImportDetailId
		,d.ClaimHeaderGroupImportId
		,d.ClaimCode
		,d.PaySS_Total
INTO	#TmpX
FROM	dbo.ClaimHeaderGroupImportDetail AS d
		INNER JOIN #Tmplst AS lst
			ON d.ClaimHeaderGroupImportId = lst.ClaimHeaderGroupImportId
WHERE	d.IsActive = 1;

SELECT	d.BillingRequestResultDetailId
		,d.ClaimCode
        ,d.CoverAmount
INTO	#TmpCover
FROM	dbo.BillingRequestResultDetail AS d
		INNER JOIN dbo.BillingRequestResultHeader AS h
			ON d.BillingRequestResultHeaderId = h.BillingRequestResultHeaderId
		--Update Chanadol 2024-02-01
		LEFT JOIN 
			(
				SELECT cs.ClaimCompensateCode
					,cs.ClaimHeaderCode
				FROM SSS.dbo.ClaimCompensate cs
				WHERE cs.IsActive = 1	
			)cs
			ON d.ClaimCode = cs.ClaimHeaderCode
		INNER JOIN #TmpX AS x
			ON d.ClaimCode = x.ClaimCode
WHERE	h.IsActive = 1
AND		d.IsActive = 1
AND		cs.ClaimCompensateCode IS NULL;

SELECT	d.ClaimHeaderGroupImportDetailId
		,d.ClaimHeaderGroupImportId
		,d.ClaimCode
		,d.PaySS_Total			AS PaySS_Total
		,ISNULL(c.SumCover,0)	AS SumCover
		,d.PaySS_Total - ISNULL(c.SumCover,0) AS TotalAmount
		,ROW_NUMBER() OVER(ORDER BY (ClaimHeaderGroupImportDetailId) asc ) AS rwId
INTO	#TmpDetail
FROM	#TmpX AS d
		LEFT JOIN 
			(
				SELECT ClaimCode
						,SUM(CoverAmount) AS SumCover
				FROM #TmpCover 
				GROUP BY ClaimCode
			) AS c
			ON d.ClaimCode = c.ClaimCode;

DECLARE @ItemCount		INT;
DECLARE @PaySS_Total	DECIMAL(16,2);
DECLARE @CoverAmount	DECIMAL(16,2);

SELECT	@ItemCount		= COUNT(ClaimHeaderGroupImportDetailId)
		,@PaySS_Total	= SUM(PaySS_Total)
		,@CoverAmount	= SUM(SumCover)
FROM	#TmpDetail;

IF (@ItemCount IS NULL)	  SET @ItemCount = 0;
IF (@PaySS_Total IS NULL) SET @PaySS_Total = 0;
IF (@CoverAmount IS NULL) SET @CoverAmount = 0;

IF (@ItemCount = 0)
BEGIN
	SET @IsResult	= 0;
	SET @Msg		= N'ไม่พบรายการ';
END;

IF (@IsResult = 1)
BEGIN

	DECLARE @Code_G	VARCHAR(20);
	DECLARE @Code_D	VARCHAR(20);
	
	--PH
	DECLARE @Last2numbersOfInsurance VARCHAR(2);
	DECLARE @ClaimHeaderGroupCodeIndex3 VARCHAR(1);
	DECLARE @ClaimType VARCHAR(1);
	DECLARE @InsuranceCompanyCode VARCHAR(30);

	SELECT @InsuranceCompanyCode = OrganizeCode FROM DataCenterV1.Organize.Organize
	WHERE Organize_ID = @InsuranceCompanyId

	SET @Last2numbersOfInsurance = SUBSTRING(@InsuranceCompanyCode, LEN(@InsuranceCompanyCode) - 1, 2)
	SELECT @ClaimHeaderGroupCodeIndex3 = SUBSTRING(MIN(ClaimHeaderGroupCode), 4, 1) FROM #Tmplst
	-- SET @ClaimType = IIF(@ClaimHeaderGroupCodeIndex3 = 'H', 'H', 'B') เงื่อนไขเดิม

	-- START สร้างเงื่อนไขใหม่  02/02/2024  11:13 

	IF (@ClaimHeaderGroupCodeIndex3 = 'H' or @ClaimHeaderGroupTypeId = 4)
	BEGIN
		SET @ClaimType= 'H'
	END
	ELSE
	BEGIN
		SET @ClaimType= 'B'
	END;

	-- END

	IF (@GroupTypeId = 1)
		BEGIN
			SET @Code_G = CONCAT('BQGPH', @Last2numbersOfInsurance, @ClaimType)
			SET @Code_D = 'BQIPH'
		END
	ELSE IF @GroupTypeId = 2
		BEGIN
			SET @Code_G = CONCAT('BQGPA', @Last2numbersOfInsurance, @ClaimType)
			SET @Code_D = 'BQIPA'
		END 
	ELSE
		BEGIN
			SET @Code_G = CONCAT('BQGPH', @Last2numbersOfInsurance, @ClaimType)
			SET @Code_D = 'BQIPH'
		END;
	
	DECLARE @G_RunningLenght			INT			= 3 -- update Chanadol 2023-10-11 lenght 6
	DECLARE @G_TT						VARCHAR(8)	= @Code_G;
	DECLARE @BillingRequestGroupCode	VARCHAR(20)
	
	DECLARE @D_Lenght					INT			= 6;
	DECLARE @D_TT						VARCHAR(6)	= @Code_D;
	DECLARE @D_Total					INT			= @ItemCount;
	DECLARE @D_YY						VARCHAR(2)
	DECLARE @D_MM						VARCHAR(2)
	DECLARE @D_RunningFrom				INT
	DECLARE @D_RunningTo				INT
	
	EXECUTE dbo.usp_GenerateCode 
			 @G_TT
			,@G_RunningLenght
			,@BillingRequestGroupCode OUTPUT;
	
	EXECUTE dbo.usp_GenerateCode_FromTo 
			 @D_TT
			,@D_Total
			,@D_YY OUTPUT
			,@D_MM OUTPUT
			,@D_RunningFrom OUTPUT
			,@D_RunningTo OUTPUT
	
	-----------------------------------
	BEGIN TRY
		Begin TRANSACTION
	
			--insert BillingRequestGroup
			INSERT INTO dbo.BillingRequestGroup
			        (BillingRequestGroupCode
			        ,InsuranceCompanyId
			        ,ItemCount
			        ,PaySS_Total
			        ,CoverAmount
			        ,TotalAmount
			        ,BillingRequestGroupStatusId
			        ,BillingDate
			        ,IsActive
			        ,CreatedDate
			        ,CreatedByUserId
			        ,UpdatedDate
			        ,UpdatedByUserId
					,ClaimTypeCode
					,BillingDueDate
					,ClaimHeaderGroupTypeId
					,InsuranceCompanyName)
			SELECT @BillingRequestGroupCode
					,@InsuranceCompanyId
					,@ItemCount
					,@PaySS_Total
					,@CoverAmount
					,(@PaySS_Total - @CoverAmount)
					,2
					,@BillingDate
					,1
					,@D2
					,@UserId
					,@D2
					,@UserId
					,@ClaimTypeCode
					,@BillindDueDate
					,@ClaimHeaderGroupTypeId
					,@InsuranceCompanyName
				
			DECLARE @BillingRequestGroupId INT = SCOPE_IDENTITY();				
			
			--insert BillingRequestItem
			INSERT INTO dbo.BillingRequestItem
			        (BillingRequestItemCode
			        ,BillingRequestGroupId
			        ,ClaimHeaderGroupImportDetailId
			        ,PaySS_Total
			        ,CoverAmount
			        ,AmountTotal
			        ,IsActive
			        ,CreatedDate
			        ,CreatedByUserId
			        ,UpdatedDate
			        ,UpdatedByUserId)
			SELECT	CONCAT(@D_TT, @D_YY, @D_MM, dbo.func_ConvertIntToString((@D_RunningFrom + i.rwId - 1), @D_Lenght))
					,@BillingRequestGroupId
					,i.ClaimHeaderGroupImportDetailId
					,i.PaySS_Total
					,i.SumCover
					,i.TotalAmount 
					,1
					,@D2
					,@UserId
					,@D2
					,@UserId
			FROM #TmpDetail AS i; 
	
			--Update ClaimHeaderGroupImport
			UPDATE	m 
			SET		m.ClaimHeaderGroupImportStatusId	= 3
					,m.BillingRequestGroupId			= @BillingRequestGroupId
					,m.UpdatedDate						= @D2
					,m.UpdatedByUserId					= @UserId
			FROM	dbo.ClaimHeaderGroupImport AS m
					INNER JOIN #Tmplst AS u
						ON m.ClaimHeaderGroupImportId = u.ClaimHeaderGroupImportId;
				
			--BillingRequestGroupXResultDetail
			INSERT INTO dbo.BillingRequestGroupXResultDetail
					(	BillingRequestGroupId
						,BillingRequestResultDetailId
					)
			SELECT	@BillingRequestGroupId
					,i.BillingRequestResultDetailId
			FROM	#TmpCover AS i;


	--		-- Insert to BillingExport Update by Kittisak.Ph 20230812---
			INSERT INTO ClaimPayBack.dbo.BillingExport(BillingDate
			  ,BillingDueDate
			  ,BranchCode
			  ,Branch
			  ,ClaimHeaderGroupCode
			  ,PolicyNo
			  ,ApplicationCode
			  ,ClaimCode
			  ,Province
			  ,SchoolName
			  ,CustomerDetailCode
			  ,IdentityCard
			  ,CustName
			  ,SchoolLevel
			  ,DateHappen
			  ,Accident
			  ,ChiefComplain
			  ,Orgen
			  ,Pay
			  ,Compensate_Include
			  ,Compensate_Out
			  ,Amount_Pay
			  ,Amount_Dead
			  ,Pay_Total
			  ,ClaimAdmitType
			  ,HospitalId
			  ,HospitalName
			  ,ICD10_1Code
			  ,ICD10
			  ,Remark
			  ,DateIn
			  ,DateOut
			  ,ClaimType
			  ,BillingRequestGroupCode
			  ,BillingRequestItemCode
			  ,DocumentLink
			  ,InsuranceCompanyId
			  ,InsuranceCompanyName
			  ,StartCoverDate
			  ,IPDCount
			  ,ICUCount
			  ,ClaimHeaderGroupTypeId
			  ,ProductId
			  ,Product
			  ,CreatedByUserId
			  ,CreatedDate
			  ,BillingBankId
			  ,BankAccountNumber
			 )
				SELECT i.BillingDate
				,g.BillingDueDate
				,c.CreatedByBranchId BranchCode--IIF(phb.Code IS NULL,pab.Code,phb.Code) BranchCode
				,br.BranchDetail Branch --IIF(phb.Detail IS NULL,pab.Detail,phb.Detail) Branch
				,c.ClaimHeaderGroupCode		
				,c.PolicyNo				
				,c.ApplicationCode	
				,c.ClaimCode	
				,c.Province									
				,c.SchoolName									
				,c.CustomerDetailCode
				,c.IdentityCard	
				,c.CustName		
				,c.SchoolLevel		
				,c.DateHappen
				,c.Accident		
				,c.ChiefComplain	
				,c.Orgen	
				,c.Pay	- ISNULL(b.CoverAmount,0)			Pay
				,c.Amount_Compensate_in	Compensate_Include		
				,c.Amount_Compensate_out	 Compensate_Out	
				,c.Amount_Pay	
				,c.Amount_Dead	
				,c.PaySS_Total - ISNULL(b.CoverAmount,0)	Pay_Total 	
				,c.ClaimAdmitType
				,c.HospitalId
				,c.HospitalName		
				,c.ICD10_1Code		
				,c.ICD10				
				,c.Remark
				,c.DateIn										
				,c.DateOut	
				,c.ClaimType	
				,g.BillingRequestGroupCode
				,b.BillingRequestItemCode
				,''		AS DocumentLink	
				,@pInsuranceCompanyId	
				,@InsuranceCompanyName
				,c.StartCoverDate
				,c.IPDCount
				,c.ICUCount
				,g.ClaimHeaderGroupTypeId
				,c.ProductId
				,c.Product
				,@CreatedByUserId
				,GETDATE()
				,bb.BillingBankId
				,bb.BankAccountNumber

			FROM dbo.BillingRequestItem AS b	
				LEFT JOIN dbo.ClaimHeaderGroupImportDetail AS c	
					ON b.ClaimHeaderGroupImportDetailId = c.ClaimHeaderGroupImportDetailId
				LEFT JOIN dbo.BillingRequestGroup AS g	
					ON b.BillingRequestGroupId = g.BillingRequestGroupId
				LEFT JOIN dbo.BillingRequestResultDetail rrd 
					ON c.ClaimHeaderGroupImportDetailId = rrd.ClaimHeaderGroupImportDetailId
				LEFT JOIN dbo.ClaimHeaderGroupImport i	
					ON c.ClaimHeaderGroupImportId = i.ClaimHeaderGroupImportId
				LEFT JOIN [DataCenterV1].[Address].[Branch] br
					ON C.CreatedByBranchId = br.Branch_ID
				LEFT JOIN dbo.BillingBank bb
					ON i.ClaimTypeCode = bb.ClaimTypeCode	
			WHERE c.IsActive = 1
				AND i.IsActive = 1
				AND (g.BillingRequestGroupId = @BillingRequestGroupId);


			--UPDATE BillingRequestGroup 
			--SET BillingRequestGroupStatusId=3 
			--WHERE InsuranceCompanyId=699804 
			--AND CreatedDate >=  DATEADD(minute, -2,SYSDATETIME()); -- Kittisak.Ph 2023-09-07 for Temporary Use.
	
	---- Insert to BillingExport Update by Kittisak.Ph 20230812---

	
	
		SET @IsResult	= 1;
		SET @Msg		= 'บันทึก สำเร็จ';
	
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
	
		SET @IsResult	= 0;
		SET @Msg		= 'บันทึก ไม่สำเร็จ';
	
		IF @@Trancount > 0 ROLLBACK;
	END CATCH
	-----------------------------------

END;


IF OBJECT_ID('tempdb..#TmpX') IS NOT NULL  DROP TABLE #TmpX;	
IF OBJECT_ID('tempdb..#TmpDetail') IS NOT NULL  DROP TABLE #TmpDetail;	
IF OBJECT_ID('tempdb..#TmpCover') IS NOT NULL  DROP TABLE #TmpCover;	
IF OBJECT_ID('tempdb..#Tmplst') IS NOT NULL  DROP TABLE #Tmplst;


IF (@IsResult = 1) 
	BEGIN	
		SET @Result = 'Success';
	END	
ELSE
	BEGIN
		SET @Result = 'Failure';
	END;	

SELECT @IsResult IsResult
		,@Result Result
		,@Msg	 Msg;

END
