USE [ClaimPayBack]
GO
/****** Object:  StoredProcedure [dbo].[usp_BillingRequestValidate_Select]    Script Date: 1/10/2568 15:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Mr.Bunchuai Chaiket
-- Create date: 2025-10-01 15:16
-- Description:	store สำหรับ Validate รายการ Generate group Import บ.ส. 
-- =============================================
ALTER PROCEDURE [dbo].[usp_BillingRequestValidate_Select] 
	 @BillingDate		DATE = NULL
AS
BEGIN
	
	SET NOCOUNT ON;


SELECT 
	g.InsuranceCompanyId
	,g.GroupTypeId
	,ROW_NUMBER() OVER(ORDER BY (g.InsuranceCompanyId) ASC ) AS rwId
	,g.ClaimTypeCode
	,g.BillingDate
	,g.ClaimHeaderGroupTypeId
	,g.InsuranceCompanyName
	,g.ClaimHeaderGroupCode
	,SUM(g.TotalAmount)		BillingAmount
INTO #TmpLoop	
FROM
	(SELECT	i.InsuranceCompanyId
				,CASE 
						WHEN f.ClaimHeaderGroupTypeId = 2 THEN 1
						WHEN f.ClaimHeaderGroupTypeId = 3 THEN 2
						WHEN f.ClaimHeaderGroupTypeId = 4 THEN 1
						WHEN f.ClaimHeaderGroupTypeId = 5 THEN 1
					ELSE NULL
					END	GroupTypeId
				,i.ClaimTypeCode
				,i.BillingDate
				,f.ClaimHeaderGroupTypeId
				,i.InsuranceCompanyName
				,i.TotalAmount
				,i.ClaimHeaderGroupCode
		FROM	dbo.ClaimHeaderGroupImport AS i
				INNER JOIN dbo.ClaimHeaderGroupImportFile AS f
					ON i.ClaimGroupImportFileId = f.ClaimHeaderGroupImportFileId
		WHERE	f.IsActive = 1
			AND		i.IsActive = 1
			AND		i.ClaimHeaderGroupImportStatusId = 2
			AND		i.BillingRequestGroupId IS NULL
			AND		i.BillingDate <= @BillingDate
	) AS g
WHERE	g.GroupTypeId IS NOT NULL
GROUP BY	g.InsuranceCompanyId
			,g.GroupTypeId
			,g.ClaimTypeCode
			,g.BillingDate
			,g.ClaimHeaderGroupTypeId
			,g.InsuranceCompanyName
			,g.ClaimHeaderGroupCode;
			 
SELECT 
	t.ClaimHeaderGroupCode 
	,t.ClaimHeaderGroupTypeId
	,pa.PaySS_Total  				Amount 
	,ISNULL(t.BillingAmount, 0)		BillingAmount
	,ISNULL(colPH.TotalAmount, 0)	TransferAmount
	,ISNULL(colPH.NPLAmount, 0)		NPLAmount
INTO #Tmp2
FROM #TmpLoop t 
	LEFT JOIN (
		-- PH
		SELECT
			cgi.ClaimHeaderGroup_id			Code
			,cv.PaySS_Total					PaySS_Total
			,ch.ClaimOnLineCode				ClaimOnLineCode
		FROM  SSS.dbo.DB_ClaimHeaderGroupItem cgi  
			LEFT JOIN sss.dbo.DB_ClaimHeader ch
				ON cgi.ClaimHeader_id = ch.Code
			LEFT JOIN sss.dbo.DB_ClaimVoucher cv
				ON cgi.ClaimHeader_id = cv.Code

		UNION

		-- PA
		SELECT	
			chgPA.Code						Code
			,chPA.PaySS_Total				PaySS_Total
			,NULL							ClaimOnLineCode
		FROM [SSSPA].[dbo].[DB_ClaimHeaderGroupItem] hPA
			LEFT JOIN SSSPA.dbo.DB_ClaimHeaderGroup chgPA
				ON hPA.ClaimHeaderGroup_id = chgPA.Code
			LEFT JOIN SSSPA.dbo.DB_ClaimHeader chPA
				ON hPA.ClaimHeader_id = chPA.Code 
	)pa
		ON t.ClaimHeaderGroupCode = pa.Code
	LEFT JOIN [SSSPA].[dbo].[DB_ClaimHeader] hdPA
		ON t.ClaimHeaderGroupCode = hdPA.Code
	LEFT JOIN
		(
			SELECT
				co.ClaimOnLineCode 
				,SUM(cg.TotalAmount)	TotalAmount
				,SUM(NPLD.Amount)		NPLAmount
			FROM ClaimOnlineV2.dbo.ClaimOnline co
				LEFT JOIN ClaimOnlineV2.dbo.ClaimPayGroup cg
					ON cg.ClaimOnLineId = co.ClaimOnLineId
				LEFT JOIN (
					SELECT 
						ClaimOnLineId
						,NPLHeaderId
					FROM ClaimOnlineV2.dbo.NPLHeader
					WHERE IsActive = 1
				) NPLH
					ON co.ClaimOnLineId = NPLH.ClaimOnLineId
				LEFT JOIN (
					SELECT 
						NPLHeaderId
						,Amount
					FROM ClaimOnlineV2.dbo.NPLDetail
					WHERE IsActive = 1
				) NPLD
					ON NPLH.NPLHeaderId = NPLD.NPLHeaderId
			WHERE co.IsActive = 1  
				AND cg.PaymentStatusId = 4
			GROUP BY  co.ClaimOnLineCode
		) colPH
		ON colPH.ClaimOnLineCode = pa.ClaimOnLineCode

-- =============================================================
/*
 1 Amount = BillingAmount
 2 TransferAmount = (Amount + NPLAmount)
 3 BillingAmount = (TransferAmount - NPLAmount)
*/

SELECT 
	*
	,CASE
		WHEN (Amount <> BillingAmount)		THEN 'ยอด บ.ส. ไม่เท่ากับ ยอดวางบิล'
		WHEN ((Amount + BillingAmount) = 0)	THEN 'ยอด บ.ส. และยอดวางบิลเป็น 0'
		WHEN ClaimHeaderGroupTypeId IN(2,6)	THEN 
			CASE 
				WHEN  TransferAmount <> (Amount + NPLAmount)		THEN 'ยอดโอนเงิน ไม่เท่ากับ (ยอด บ.ส. + ยอด NPL)'
				WHEN  BillingAmount <> (TransferAmount - NPLAmount) THEN 'ยอดวางบิลเป็น ไม่เท่ากับ (ยอดโอนเงิน - ยอด NPL)'
			ELSE NULL END  
		ELSE NULL END  IsValidate
FROM #Tmp2 
	

IF OBJECT_ID('tempdb..#TmpLoop') IS NOT NULL  DROP TABLE #TmpLoop;	
IF OBJECT_ID('tempdb..#Tmp2') IS NOT NULL  DROP TABLE #Tmp2;	

--DECLARE @ClaimHeaderGroupCode NVARCHAR(50)
--, @ClaimHeaderGroupTypeId INT
--, @PaySS_Total DECIMAL(16,2)
--, @BillingAmount DECIMAL(16,2)
--, @TransferAmount DECIMAL(16,2)
--, @NPLAmount DECIMAL(16,2)
--, @IsValidate NVARCHAR(50) ;

--SELECT 
--	@ClaimHeaderGroupCode		ClaimHeaderGroupCode
--	, @ClaimHeaderGroupTypeId	ClaimHeaderGroupTypeId
--	, @PaySS_Total				PaySS_Total 
--	, @BillingAmount			BillingAmount
--	, @TransferAmount			TransferAmount
--	, @NPLAmount				NPLAmount
--	, @IsValidate				IsValidate

END;